body {
font-family: 'Palanquin', 'Arial';
font-size: 20px;
line-height: 35px;
text-align: center; }

h1, h2, h3, h4, h5, h6 {
font-family: 'Libre Baskerville', 'Times New Roman';
text-align: left;
width: 800px;
margin: 100px auto 0;
padding: 10px 20px;
max-width: 90%; }

h1 {
font-style: normal;
font-size: 35px; }

h2 {
font-style: normal;
font-size: 30px; }

h3, h4, h5, h6 {
font-style: normal;
font-size: 20px; }

p, blockquote {
width: 800px;
font-family: 'Libre Baskerville', 'Times New Roman';
margin: 10px auto;
padding: 20px;
max-width: 90%;
text-align: left; }

button {
border: 0;
outline: none; }


/* LOGIN HOURGLASS */

#login-hourglass-countdown, #login-hourglass-timeout {
font-size: 14px;
line-height: 17px;
color: #666;
position: absolute;
top: 20px;
right: 20px; }

#login-hourglass-timeout {
visibility: hidden; }

#timeout-overlay {
position: fixed;
top: 0;
left: 0;
display: block;
overflow: hidden;
width: 100%;
height: 100%;
visibility: hidden;
text-align: center;
z-index: 1000;
background-image: linear-gradient(130deg, rgba(245,245,245,1), rgba(255,255,255,0.95)); }

#timeout-overlay-alignment {
width: 800px;
max-width: 90%;
margin: 130px auto;
display: block;
padding: 20px;
text-align: left; }

#timeout-overlay-header {
font-family: 'Libre Baskerville', 'Times New Roman';
text-align: left;
margin: 30px 0 20px;
padding: 10px 0;
display: block;
font-style: normal;
font-size: 35px;
line-height: 40px; }

#timeout-overlay-button {
padding: 10px 40px;
background-image: linear-gradient(130deg, rgba(100,100,100,0.8), rgba(80,80,80,1));
color: #fff;
font-family: 'Libre Baskerville', 'Times New Roman';
font-style: italic;
border-radius: 100px;
display: inline-block;
margin: 10px 40px;
outline: none; }



/* HOME WINDOW */

#home-window-logo {
margin: 100px auto 30px; }

#home-window-register-button {
padding: 10px 40px;
background-image: linear-gradient(100deg, #111, #555);
color: #fff;
font-family: 'Libre Baskerville', 'Times New Roman';
border-radius: 100px;
display: inline-block;
margin: 30px 30px 0;
outline: none; }



/* EDIT WINDOW */

hr.edit-window-stroke {
display: block;
width: 100%;
max-width: 800px;
margin: 50px auto 40px;
clear: both; }

button#edit-window-approved-post-open-button, button#edit-window-approved-post-close-button {
right: 20px;
font-size: 15px;
line-height: 20px;
color: #fff;
padding: 10px 20px 10px 12px;
border-radius: 100px;
outline: none; }

button#edit-window-approved-post-open-button {
position: absolute;
top: 75px;
background-image: linear-gradient(150deg, #888, #bbb); }

button#edit-window-approved-post-close-button {
position: fixed;
top: 20px;
background: #333; }

button#edit-window-approved-post-open-button i, button#edit-window-approved-post-close-button i {
font-size: 20px;
line-height: 20px;
padding-right: 3px;
vertical-align: top; }

amp-lightbox#edit-window-approved-post-lightbox {
background-image: linear-gradient(130deg, rgba(245,245,245,1), rgba(255,255,255,0.95));
padding: 20px; }

span#edit-window-approved-post-header {
font-family: 'Libre Baskerville', 'Times New Roman';
text-align: left;
margin: 30px 0 20px;
padding: 10px 0;
display: block;
font-style: normal;
font-size: 25px;
line-height: 30px; }

div#edit-window-approved-post-alignment {
width: 800px;
max-width: 100%;
box-sizing: border-box;
margin: 40px auto 100px;
display: block;
padding: 20px;
text-align: left; }

div#edit-window-edit-post-alignment {
width: 100%;
max-width: 800px;
box-sizing: border-box;
position: relative;
margin: 40px auto 100px;
display: block;
padding: 20px;
text-align: left; }

textarea#edit-window-draft-textarea {
margin: 50px 0 40px;
padding: 20px;
display: block;
width: 100%;
box-sizing: border-box;
height: 500px;
border: 1px solid #888;
border-radius: 20px;
outline:none;
resize:none;
clear: both;
font-family: 'Palanquin', 'Arial';
font-size: 17px;
line-height: 22px; }

button#edit-window-reset-button {
float: left;
background: none;
border: 1px dotted #777;
margin-top: 3px;
font-size: 14px;
line-height: 19px;
color: #666;
padding: 7px 20px;
border-radius: 100px;
outline: none; }

button#edit-window-reset-button i {
font-size: 15px;
line-height: 19px;
padding-right: 3px;
vertical-align: top; }

button#edit-window-save-button {
background-image: linear-gradient(100deg, #111, #555);
color: #fff;
font-family: 'Libre Baskerville', 'Times New Roman';
font-size: 15px;
padding: 10px 40px;
border-radius: 100px;
float: right;
outline: none; }

button#edit-window-submit-button {
background: #2850AA;
color: #fff;
font-family: 'Libre Baskerville', 'Times New Roman';
font-size: 15px;
line-height: 19px;
padding: 12px 37px 12px 33px;
border-radius: 100px;
margin: 25px auto 20px;
outline: none; }

button#edit-window-submit-button i {
vertical-align: top;
font-size: 18px;
line-height: 19px;
padding-right: 3px; }

div#edit-window-annotations-alignment {
width: 800px;
max-width: 100%;
box-sizing: border-box;
margin: 40px auto 100px;
display: inline-block;
padding: 20px;
text-align: left;
position: relative; }

span#edit-window-annotations-header {
display: inline-block;
vertical-align: top;
font-size: 25px;
line-height: 25px;
padding: 3px 40px 15px 0;
font-family: 'Libre Baskerville', 'Times New Roman';
font-style: italic; }

span#edit-window-annotations-header i {
font-size: 26px;
line-height: 23px;
vertical-align: top; }

button#edit-window-annotations-refresh-button {
vertical-align: top;
background: none;
border: 1px dotted #777;
margin: 0;
display: inline-block;
font-size: 12px;
line-height: 17px;
color: #666;
padding: 6px 13px 6px 10px;
border-radius: 100px;
clear: right;
outline: none; }

button#edit-window-annotations-refresh-button i {
font-size: 17px;
line-height: 17px;
padding-right: 5px;
vertical-align: top; }

textarea#edit-window-annotations-textarea {
margin: 40px 0 0;
clear: both;
padding: 15px;
display: block;
width: 100%;
box-sizing: border-box;
height: 120px;
border: 1px solid #999;
border-radius: 10px;
outline:none;
resize:none;
font-family: 'Palanquin', 'Arial';
font-size: 15px;
line-height: 20px; }

button#edit-window-annotations-annotation-button {
vertical-align: top;
background-image: linear-gradient(170deg, #777, #aaa);
margin: 20px 0 60px;
display: inline-block;
font-size: 15px;
line-height: 20px;
color: #fff;
float: right;
padding: 7px 15px 7px 12px;
border-radius: 100px;
clear: right;
outline: none; }

button#edit-window-annotations-annotation-button i {
font-size: 20px;
line-height: 20px;
padding-right: 5px;
vertical-align: top; }

span#edit-window-annotations-placeholder {
font-size: 20px;
line-height: 20px;
clear: both;
text-align: center;
margin: 60px auto 0; }

span#edit-window-annotations-fallback {
font-size: 20px;
line-height: 20px;
clear: both;
text-align: center;
margin: 60px auto 0; }

span#edit-window-annotations-placeholder i, span#edit-window-annotations-fallback i {
font-size: 16px;
line-height: 20px;
padding-right: 10px; }

amp-list#edit-window-annotations-list {
margin: 0;
padding: 0; }

div.edit-window-annotations-list-item {
margin: 0 0 30px;
background-image: linear-gradient(130deg, rgba(245,245,245,1), rgba(253,253,253,1));
padding: 20px;
border-radius: 20px; }

span.edit-window-annotations-list-item-author, span.edit-window-annotations-list-item-time {
display: inline-block;
font-size: 15px;
line-height: 15px;
font-family: 'Palanquin', 'Arial'; }

span.edit-window-annotations-list-item-author {
float: left; }

span.edit-window-annotations-list-item-time {
float: right; }

span.edit-window-annotations-list-item-contents {
display: block;
clear: both;
margin: 30px 0 0 0;
font-family: 'Libre Baskerville', 'Times New Roman';
font-size: 17px;
line-height: 24px; }



/* FOOTER */

.footer-spacer {
display: block;
width: 100%;
height: 150px; }



/* NAVIGATION CHOOSER */

div#navigation-chooser {
position: relative;
top: 0;
left: 0;
width: 100%;
height: 150px;
box-sizing: border-box;
padding: 0 20px;
margin: 30px auto 20px;
display: block;
text-align: center; }

span#navigation-chooser-feed-button {
font-size: 20px;
line-height: 20px;
font-weight: 700;
position: relative;
top: 90px;
border-radius: 100px;
outline: none;
margin: 0 auto 0;
background: #fff;
border: 2px solid #333;
padding: 12px 30px;
border-radius: 100px; }

span#navigation-chooser-account-button, span#navigation-chooser-language-button {
position: absolute;
top: 0;
margin: 0;
font-size: 14px;
line-height: 19px;
color: #666;
padding: 7px 21px 7px 15px;
border-radius: 100px;
outline: none; }

#navigation-chooser-account-button i, #navigation-chooser-language-button i {
font-size: 15px;
line-height: 19px;
padding-right: 3px;
vertical-align: top; }

#navigation-chooser-account-button {
right: 20px;
border: 1px solid #777;
padding: 7px 20px; }

#navigation-chooser-language-button {
position: absolute;
top: 0;
right: 150px; }



/* LANGUAGE */

#language-lightbox {
padding-top: 100px;
background: rgba(245,245,245,1); }

#language-close-button {
right: 20px;
font-size: 15px;
line-height: 20px;
color: #fff;
padding: 10px 20px 10px 12px;
border-radius: 100px;
position: absolute;
top: 20px;
background: #333;
outline: none; }

#language-close-button i {
font-size: 20px;
line-height: 20px;
padding-right: 3px;
vertical-align: top; }

.language-list-item {
display: inline-block;
margin: 30px 50px;
padding: 15px 30px;
background: #555;
color: #fff; }
