body {
font-family: 'Palanquin', 'Arial';
font-size: 20px;
line-height: 35px; }

h1, h2, h3, h4, h5, h6 {
font-family: 'Libre Baskerville', 'Times New Roman';
text-align: center;
width: 800px;
margin: 20px auto 0;
padding: 20px;
max-width: 90%; }

h1 {
font-style: normal;
font-size: 35px; }

h2 {
font-style: normal;
font-size: 30px; }

h3, h4, h5, h6 {
font-style: normal;
font-size: 20px; }

h2:before {
content: '··';
display: block;
opacity: 0.3;
padding: 0 0 25px; }

h3:before, h4:before, h5:before, h6:before {
content: '······';
display: block;
opacity: 0.3;
padding: 0 0 40px; }

p, blockquote {
width: 800px;
margin: 10px auto;
padding: 20px;
max-width: 90%; }




/* HOME WINDOW */

#home-window-logo {
margin: 40px auto 30px; }

p.home-window-list {
  font-size: 115%;
  text-align: center; }

#home-window-register-button {
  padding: 10px 20px;
  background-image: linear-gradient(130deg, rgba(50,50,50,0.8), rgba(30,30,30,1));
  color: #fff;
  display: inline-block;
  margin: 20px auto; }
